/* Footer */
#footer {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../assets/Website_Images/Little-Dings-Hats.jpg");
    /* background: url("../assets/Website_Images/Little-Dings-Hats.jpg"); */
    color: #cacaca;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-nav {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    /* justify-self: auto; */
}

#footer img {
    max-width: 300px;
}

#footer .logo {
    margin-bottom: 25px;
}

#footer .contact,
#footer .hours,
#footer .social {
    margin-bottom: 50px;
}

#footer h2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

#footer p {
    margin-bottom: 10px;
}

.social .btn {
    border: none;
    color: white;
}

.social .btn:hover {
    border: none;
    color: #ca3d26;
    background-color: transparent;
}

.contact a,
.footer-nav a {
    color: #ca3d26;
    text-decoration: none;
}

.contact a:hover,
.footer-nav a:hover {
    color: white;
}

@media only screen and (min-width: 992px) {
    #footer {
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 768px) {

    .footer-nav>div:nth-of-type(1) {
        padding-top: 30px;
    }

    .footer-nav>div:nth-of-type(2) {
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-nav div {
        padding: 30px 0;
    }

    .footer-nav>div:nth-of-type(1) {
        text-align: left;
    }

    .footer-nav>div:nth-of-type(2) {
        text-align: right;
    }
}