/* Gallery */
#gallery .content img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#gallery span {
    display: inline-block;
}

.red-icon {
    width: 80%;
}

#gallery h1 {
    font-family: "DancingScript", cursive;
    color: #ca3d26;
    font-size: 60px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 767px) {
    #gallery h1 {
        font-size: 36px;
        padding-bottom: 0;
    }

    .red-icon {
        width: 50%;
    }

    #gallery .content img {
        max-height: 200px;
        object-fit: cover;
    }
}