/* Info Bar and Navbar */
.header {
    color: white;
    position: absolute;
    z-index: 999;
}

.top-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.top-bar .btn {
    border: none;
    color: white;
}

.top-bar .btn:hover {
    border: none;
    color: #ca3d26;
    background-color: white;
}

.navbar {
    background-color: none;
}

.navbar-collapse {
    z-index: 999;
}

.navbar-custom {
    padding: 0px;
    min-height: 100px;
}

.navbar-brand {
    padding: 0 15px;
    height: 100px;
    line-height: 100px;
}

.navbar-brand .logo {
    max-height: 78px;
    /* max-width: 160px; */
}

.navbar-brand .logo.hidden {
    display: none;
}

.navbar-custom-collapsed {
    background-color: #555555;
}

/* change the color of active or hovered links */
.navbar-dark .navbar-nav .nav-link.active {
    color: #ca3d26;
    border-top: 2px solid #ca3d26;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #ca3d26;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
    border-radius: 0;
    border: 2px solid #fff;
}

.navbar-custom.scrolled .navbar-toggler {
    border-color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler:active,
.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:hover {
    background-color: #ca3d26;
}

.navbar-custom.scrolled {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    transition: background-color 200ms linear;
}

.navbar-custom.scrolled .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom.scrolled .nav-link,
.navbar-custom.scrolled a {
    color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}

@media only screen and (min-width: 992px) {
    .nav-link {
        padding-top: 35px;
    }

    .navbar-dark .navbar-nav .nav-link.active {
        padding-top: 33px;
    }

    .navbar-brand .logo {
        display: flex;
        padding-top: 20px;
    }

    .navbar-collapse,
    .navbar-collapse .navbar-nav,
    .nav-item,
    .nav-link {
        min-height: 100px;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-custom {
        background-color: #212324;
    }

    .navbar-nav {
        margin-top: 7.5px;
    }

    .navbar-custom.scrolled {
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        transition: background-color 200ms linear;

    }

    .navbar-collapse {
        border-top: 1px solid gray;
        border-top-style: ridge;
    }

    .navbar-custom.scrolled .navbar-collapse {
        border-top: 1px solid black;
    }

    .navbar-custom.scrolled .nav-link,
    .navbar-custom.scrolled .nav-brand {
        color: black;
    }

    .navbar-dark .navbar-nav .nav-link.active {
        border: 0;
    }

    .navbar-brand .logo {
        /* max-height: 80px; */
        max-width: 160px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .info {
        display: none;
    }
}