/* Specials */
#specials {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../assets/Website_Images/little-dings-patrons.jpg");
    color: #cacaca;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    /* min-height: 900px; */
}

#specials .carousel,
#specials .carousel-inner,
#specials .carousel-item {
    height: 100%;
}

#specials .container-lg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#specials h1 {
    font-family: "DancingScript", cursive;
    color: #ca3d26;
    font-size: 60px;
}

#specials .carousel-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#specials .img {
    height: 90%;
    width: 70%;
    position: absolute;
    top: 0;
}

.promotion-details {
    background-color: white;
    color: black;
    z-index: 2;
    height: 300px;
    width: 500px;
    padding: 50px;
}

.promotion-details .btn {
    color: #ca3d26;
    border-color: #ca3d26;
}

.promotion-details .btn:hover {
    color: white;
    border-color: #ca3d26;
    background-color: #ca3d26;
}


#specials span {
    display: inline-block;
}

.red-icon {
    width: 80%;
}

@media only screen and (min-width: 992px) {
    #specials {
        background-attachment: fixed;
    }
}

/* @media only screen and (max-width: 700px) {
    #specials .img {
        height: 350px;
        width: 100%;
    }
} */

@media only screen and (max-width: 767px) {
    #specials h1 {
        font-size: 36px;
        padding-bottom: 0;
    }

    /* #specials {
        min-height: 700px;
    } */

    #specials .img {
        height: 85%;
        width: 100%;
    }
}