/* Specials */
#specials {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url("../assets/Website_Images/little-dings-patrons.jpg");
    color: #cacaca;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

#specials .carousel,
#specials .carousel-inner,
#specials .carousel-item {
    height: 100%;
}

#specials .container-lg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#specials h1 {
    font-family: "DancingScript", cursive;
    color: #ca3d26;
    font-size: 60px;
}

#specials .carousel-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.promotion-img {
    width: 60%;
    height: 60%;
    z-index: 1;
}

.promotion-details {
    background-color: white;
    color: black;
    z-index: 2;
    height: 300px;
    width: 40%;
    padding: 50px;
    right: 20px;
}

.promotion-details .btn {
    color: #ca3d26;
    border-color: #ca3d26;
}

@media only screen and (max-width: 767px) {
    #specials h1 {
        font-size: 36px;
        padding-bottom: 0;
    }
}