/* Info Bar and Navbar */
.header {
    color: white;
    position: absolute;
    z-index: 999;
}

.top-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.top-bar .btn {
    border: none;
    color: white;
}

.top-bar .btn:hover {
    border: none;
    color: #ca3d26;
    background-color: white;
}

.navbar {
    background-color: none;
}

.navbar-collapse {
    z-index: 999;
}

/* #navbarScroll .navbar-nav .nav-item .nav-link{
  padding-top:25px
} */
.navbar-custom {
    padding: 0px;
}

.navbar-custom-collapsed {
    background-color: #555555;
}

/* change the color of active or hovered links */
.navbar-dark .navbar-nav .nav-link.active {
    color: #ca3d26;
    border-top: 2px solid #ca3d26;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #ca3d26;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
    border-radius: 0;
    border: 2px solid #fff;
}

.navbar-custom.scrolled .navbar-toggler {
    color: black;
    border-color: black;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler:active,
.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:hover {
    background-color: #ca3d26;
}

.navbar-custom.scrolled {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    transition: background-color 200ms linear;
}

.navbar-custom.scrolled .nav-link,
.navbar-custom.scrolled a {
    color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}

.navbar-collapse.show {}

@media (max-width: 992px) {
    .navbar-custom {
        background-color: #212324;
    }

    .navbar-custom .scrolled {
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        transition: background-color 200ms linear;
    }

    .navbar-custom.scrolled .nav-link,
    .navbar-custom.scrolled .nav-brand {
        color: black;
    }

    .navbar-dark .navbar-nav .nav-link.active {
        border: 0;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .info {
        display: none;
    }
}