/* Reservations */
#reservations {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url("../assets/img/restaurant4.jpg");
    color: #cacaca;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: "PTSansNarrow", sans-serif;
}

#reservations .container-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reservations .btn {
    background-color: white;
    color: #ca3d26;
    border: none;
    font-weight: 200;
    letter-spacing: 4px;
    min-width: 200px;
}

#reservations .btn:hover {
    background-color: #ca3d26;
    color: white;
    border: none;
}

#reservations h1 {
    letter-spacing: 5px;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 500;
}