/* Fonts */
@font-face {
  font-family: Lato;
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: PTSansNarrow;
  src: url('../assets/fonts/PTSansNarrow-Bold.ttf');
}

@font-face {
  font-family: DancingScript;
  src: url('../assets/fonts/DancingScript-Bold.ttf');
}

/*Everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0px;
  height: 100%;
}

body {
  color: #555555;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 1.5em;
}

/* Info Bar and Navbar */
.header {
  color: white;
  position: absolute;
  z-index: 999;
}

.top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.top-bar .btn {
  border: none;
  color: white;
}

.top-bar .btn:hover {
  border: none;
  color: #ca3d26;
  background-color: white;
}

.navbar {
  background-color: none;
}

.navbar-collapse {
  z-index: 999;
}

/* #navbarScroll .navbar-nav .nav-item .nav-link{
  padding-top:25px
} */
.navbar-custom {
  padding: 0px;
}

.navbar-custom-collapsed {
  background-color: #555555;
}

/* change the color of active or hovered links */
.navbar-dark .navbar-nav .nav-link.active {
  color: #ca3d26;
  border-top: 2px solid #ca3d26;
}

.navbar-custom .nav-item:hover .nav-link {
  color: #ca3d26;
}

.navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
  border-radius: 0;
  border: 2px solid #fff;
}

.navbar-custom.scrolled .navbar-toggler {
  color: black;
  border-color: black;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-toggler:active,
.navbar-dark .navbar-toggler:focus,
.navbar-dark .navbar-toggler:hover {
  background-color: #ca3d26;
}

.navbar-custom.scrolled {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
  transition: background-color 200ms linear;
}

.navbar-custom.scrolled .nav-link,
.navbar-custom.scrolled a {
  color: black;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}

.navbar-collapse.show {}

@media (max-width: 992px) {
  .navbar-custom {
    background-color: #212324;
  }

  .navbar-custom .scrolled {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    transition: background-color 200ms linear;
  }

  .navbar-custom.scrolled .nav-link,
  .navbar-custom.scrolled .nav-brand {
    color: black;
  }

  .navbar-dark .navbar-nav .nav-link.active {
    border: 0;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }

  .info {
    display: none;
  }
}

/* Main Page */
#carousel .carousel,
#carousel .carousel-inner,
#carousel .carousel-item {
  height: 100vh;
}

#carousel #carousel-item-one {
  background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../assets/img/restaurant1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#carousel #carousel-item-two {
  background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../assets/img/restaurant2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#carousel #carousel-item-three {
  background: linear-gradient(rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("../assets/img/restaurant3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.fancy-font {
  font-family: "DancingScript", cursive;
  white-space: nowrap;
  animation: slideDown 1.5s 1;
}

.regular-font {
  text-transform: uppercase;
  white-space: nowrap;
  animation: grow 1.5s 1;
}

.btn {
  text-transform: uppercase;
  border-radius: 0;
}

.btn:focus,
.btn:active:focus {
  outline: none;
  box-shadow: none;
}

#carousel .carousel-caption {
  top: 55%;
}

#carousel .carousel-caption .btn {
  color: white;
  border-color: white;
  white-space: nowrap;
  animation: slideUp 1.5s 1;
}

#carousel .carousel-caption .btn:hover,
#carousel .carousel-caption .btn:active,
#carousel .carousel-caption .btn:focus {
  color: white;
  background-color: #ca3d26;
}

.back-to-top {
  background-color: #ca3d26;
  z-index: 10;
  bottom: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  display: none;
}

.back-to-top:hover,
.back-to-top:active,
.back-to-top:focus {
  background-color: black;
  border: solid 1px white;
}

/* Animations */
@keyframes slideUp {
  0% {
    transform: translateY(80px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
    opacity: 1;
  }

  to {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

/* About */
#about {
  background: url("../assets/img/home_three_about_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#about .container-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about p {
  font-size: 22px;
  width: 50%;
}

#about h1 {
  font-family: "DancingScript", cursive;
  color: #ca3d26;
}

.big-letter {
  float: left;
  font-size: 80px;
  font-weight: 700;
  margin-bottom: -4px;
  margin-right: 10px;
  line-height: 1;
}

#about img {
  max-width: 300px;
}

/* #about h1::after{
  background: rgba(0,0,0,0) url("../assets/img/red-icon.png");
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
} */

/* Specials */
#specials {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url("../assets/img/restaurant4.jpg");
  color: #cacaca;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#specials .carousel,
#specials .carousel-inner,
#specials .carousel-item {
  height: 100%;
}

#specials .container-lg {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#specials h1 {
  font-family: "DancingScript", cursive;
  color: #ca3d26;
}

#specials .carousel-caption {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.promotion-img {
  width: 60%;
  height: 60%;
  z-index: 1;
}

.promotion-details {
  background-color: white;
  color: black;
  z-index: 2;
  height: 300px;
  width: 40%;
  padding: 50px;
  right: 20px;
}

.promotion-details .btn {
  color: #ca3d26;
  border-color: #ca3d26;
}

/* Menus */
#menus .container-lg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menus h1 {
  font-family: "DancingScript", cursive;
  color: #ca3d26;
}

#menus .btn {
  background-color: white;
  color: black;
  border-color: black;
}

#menus .btn:hover,
#menus .btn.active {
  background-color: #ca3d26;
  color: white;
  border-color: #ca3d26;
}

#appetizers,
#hand-helds,
#entrees,
#wine {
  display: none;
}

/* Reservations */
#reservations {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url("../assets/img/restaurant4.jpg");
  color: #cacaca;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "PTSansNarrow", sans-serif;
}

#reservations .container-lg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reservations .btn {
  background-color: white;
  color: #ca3d26;
  border: none;
  font-weight: 200;
  letter-spacing: 4px;
  min-width: 200px;
}

#reservations .btn:hover {
  background-color: #ca3d26;
  color: white;
  border: none;
}

#reservations h1 {
  letter-spacing: 5px;
  font-size: 50px;
  margin-bottom: 15px;
  font-weight: 500;
}

/* Gallery */
#gallery {}

#gallery h1 {
  font-family: "DancingScript", cursive;
  color: #ca3d26;

}

/* Footer */
#footer {
  background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url("../assets/img/bar1.jpg");
  color: #cacaca;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.footer-nav {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#footer img {
  max-width: 300px;
}

#footer .logo {
  margin-bottom: 25px;
}

#footer .contact,
#footer .hours,
#footer .social {
  margin-bottom: 50px;
}

.social .btn {
  border: none;
  color: white;
}

.social .btn:hover {
  border: none;
  color: #ca3d26;
  background-color: transparent;
}

.contact .btn {
  color: #ca3d26;
}

.contact .btn:hover {
  color: white;
}